<app-topmenu></app-topmenu>

<mat-icon class="info-icon" (click)="toggleShowExample()" color="primary">info</mat-icon><br>
<span>ItemId: {{tmpItemId}}</span><br>
<button mat-raised-button color="secondary" (click)="saveItemIdToForm()" [disabled]="!tmpItemId===''">Use this Item</button>

<div *ngIf="showExample">
    <mat-divider></mat-divider><br>
    <span>A swift way of converting a borrowing request, with a matching local ressource to digitization request</span><br>
    <span>...you need to:</span><br><br>
    <span>1. Navigate to "Borrowing Requets" page in Alma.</span><br>
    <span>2. Select the Borrowing Request in the cloud app.</span><br>
    <span>3. Click "View local Ressource" for the item.</span><br>
    <span>4. Select the appropriate resource in the cloud app.</span><br>
    <span>5. Click "Convert to digitization Request" in the cloud app.</span><br><br>
    <mat-divider></mat-divider><br>
</div>

<div *ngIf="!borrowingRequestSelected && !showBorrowingRequestSelectbox">
    <p>
        Please navigate to the Borrowing Requests page in Alma.
    </p>
</div>

<div class="align-center">
    <h4 [innerHTML]='infoText'></h4>
</div>

<div class="align-center">
    <span>selectedBorrowingRequestlink: </span>
    <h4 [innerHTML]='selectedBorrowingRequestlink'></h4>
</div>

<div class="align-center">
    <span>selectedUserRequestlink: </span>
    <h4 [innerHTML]='selectedUserRequestlink' ></h4>
</div>

<div class="loading-shade" *ngIf="loading">
    <mat-progress-spinner mode="indeterminate" diameter="50"></mat-progress-spinner>
</div>

    <div class="form-container" *ngIf="showBorrowingRequestSelectbox || isChangeable">
        <form [formGroup]='formConvertHelper.getForm()' (submit)="submit()">
            <div *ngIf="showBorrowingRequestSelectbox else showSelectedItemTitle">
                <mat-form-field appearance="outline">
                    <mat-label>Borrowing request</mat-label>
                    <mat-select (selectionChange)="findBorrowingRequestData($event.value)" >
                        <mat-option [value]="0">None</mat-option>
                        <mat-option *ngFor="let entity of pageEntities" [value]="entity">
                            {{entity.description| truncate : 50}} - {{entity.id}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <ng-template #showSelectedItemTitle>
                <span class="selectedTitle" [innerHTML]="selectedItemTitle"></span>
            </ng-template>

<!--            <mat-form-field class="invisible" appearance="outline">-->
            <mat-form-field class="" appearance="outline">
                <mat-label>User Id</mat-label>
                <input matInput formControlName="userId" type="text" [required]="true">
            </mat-form-field>
<!--            <mat-form-field class="invisible" appearance="outline">-->
            <mat-form-field class="" appearance="outline">
                <mat-label>Request Id</mat-label>
                <input matInput formControlName="requestId" type="text" [required]="true">
            </mat-form-field>
            <div [hidden]="formConvertHelper.isRequestSelected()">
                <mat-form-field class="form-field" appearance="outline">
                    <mat-label>MMS ID</mat-label>
                    <input matInput formControlName="mmsId" type="text" [required]="true">
                </mat-form-field>
                <mat-form-field class="form-field" appearance="outline">
                    <mat-label>Record Id</mat-label>
                    <input matInput formControlName="recordId" type="text" [required]="">
                </mat-form-field>
                <mat-form-field class="form-field" appearance="outline">
                    <mat-label>Item Id</mat-label>
                    <input matInput formControlName="itemId" type="text" [required]="" >
                </mat-form-field>
            </div>

            <!--
                            <mat-error *ngIf="loginForm.controls.password.touched && loginForm.controls.password.invalid">
                                <span *ngIf="loginForm.controls.password.errors.required">This field is mandatory.</span>
                            </mat-error>
            -->
            <button mat-raised-button color="primary" type="submit" [disabled]="!isChangeable">Convert to digitization request</button>
            <button mat-raised-button color="secondary" (click)="resetForm()">Change Type (ORIGINAL)</button>
        </form>
        <br>
        <textarea>{{toTextArea}}</textarea>
        <div *ngIf="showBibSelectbox ">
            <mat-form-field appearance="outline">
                <mat-label>BIB et eller andet</mat-label>
                <mat-select (selectionChange)="findBibData($event.value)" >
                    <mat-option [value]="0">None</mat-option>
                    <mat-option *ngFor="let entity of pageEntities" [value]="entity">
                        {{entity.description| truncate : 50}} - {{entity.id}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </div>

        <!--        <button (click)="resetForm()">Test</button>  TODO: select-box nulstilles ikke -->
    </div>


