button {
  margin-right: 1em;
}

.selectedTitle {
  display: block;
  padding-bottom: 1em;
}

.invisible {
  display: block;
  visibility: hidden;
  height: 0;
  width: 0;
}
textarea {
  width: 50em;
  height: 15em;
}

#ngSummarySectionContainer {
  position: absolute;
}
