<p>jj works!</p>
<!--
<div  *ngFor="let externalLinkAttribute of externalLinkAttributes ">
    <span>{{externalLinkAttribute.id}}   ,</span>
    <span>{{externalLinkAttribute.isbn}}</span><br>
</div>
-->


<!--userActions$ er vores Observable på "pageloaded"-->
<div *ngIf="pageLoaded$ | async as externalLinkAttributes">
    <div *ngFor="let externalLinkAttribute of externalLinkAttributes">
        <span>{{externalLinkAttribute.id}} ,</span>
        <span>{{externalLinkAttribute.mms_id}}</span><br>
        <span>{{externalLinkAttribute.title}}</span><br>
        <span>{{externalLinkAttribute.author}}</span><br>
    </div>


</div>







<!--
pageLoadedAction$
.pipe(
map(([users, selectedUser, selectedAddressType]) =>
users.map((user, requestIndex) => ({
...user,
selectedAddress: user.id === selectedAddressType.id ? selectedAddressType.value : this.currentUserActions[requestIndex].selectedAddress,
checked: user.id === selectedUser.id ? selectedUser.checked : this.currentUserActions[requestIndex].checked,
        }) as User),
toArray(),
),
tap(currentUserActions => this.currentUserActions = currentUserActions),
catchError(err => EMPTY),
);
-->
