$table: table;
$tableRow: table-row;
$tableCell: table-cell;


div.table{
  display:$table;
}
div.table-row{
  display: $tableRow;
}
.table-cell {
  display: $tableCell;
  padding-left: 0;
  padding-right: 1em;
}

.table-cell a {
  padding-right: 1em;
}
/*
.mat-list-base {
  padding-top: 0px;
  display: inline-flex;
}
*/

.mat-list-base.inline-list {
  display: flex;
}

/*
.mat-list-item-content {
  padding: 0 10px;
  border-color: #474747;
  border-width: 1px;
  border-style: solid;
}
*/
