.settings-section {
  display: flex;
  align-content: center;
  align-items: center;
  margin: 10px 0;
}

.settings-control {
  margin: 0 10px;
}

#emptyList {
  max-width: 90%;
  margin: 0 auto;
  text-align: center;
}
