<app-topmenu>
  <div buttons>
    <button mat-flat-button type="button" color="primary" (click)="openDialog()" [disabled]="dialogOpen">Add link template</button>
  </div>
</app-topmenu>

  <h3 class="subheading-1">External localization settings:</h3>
  <div *ngIf="settings && settings.externalLinkTemplates.length>0 else noExternalLinkTemplates">
    <mat-list *ngFor="let item of settings.externalLinkTemplates">
      <mat-list-item>
        <span>{{item.linkName}}</span>
<!--  TODO: JJEG ExLibris Way(https://developers.exlibrisgroup.com/cloudapps/docs/style/#colors) - dosn't work.
        <i class="uxf-icon uxf-close eca-button" (click)="remove(item)">delete</i>
-->
        <mat-icon matListIcon (click)="remove(item)">delete</mat-icon>
      </mat-list-item>
    </mat-list>
    <b><a href="#/external-localization">Jump to external localization page.</a></b>
  </div>

<ng-template #noExternalLinkTemplates>
  <div id="emptyList">
    <p>Add link template by clicking 'Add link template'-button.</p>
  </div>
</ng-template>


